*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

label {
  font-size: 1.2rem;
  color: #fff8f8;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  background: #010009;
  color: rgb(13, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: rem;
  flex-direction: column;
  gap: 1rem;
  background-image: url('../public/Library.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 1; 
  height: 100vh;
  margin: 0; 
}

.form_container {
  background-color: #000000;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.form_container > h2 {
  margin-block: 1rem;
  padding-block: 0.6rem;
  color: rgb(8, 162, 193);
}

.form_container > form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.form_container div {
  
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.form_container input {
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-size: 1.1rem;
  outline: none;
}

.form_container input::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

.form_container button {

  background-color: rgb(32, 68, 185);
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  padding: 8px 10px;
  width: 50%;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 0.3rem;
  align-self: center;
}

span a {
  text-decoration: none;
  color: rgb(30, 177, 206);
}

.home_page {
  height: 100vh;
  width: 100vw;
  background: #010009;
  color: rgb(13, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: rem;
  flex-direction: column;
  gap: 1rem;
  background-image: url('../public/Library.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8; 
  height: 100vh;
  margin: 0; 
  
}


.home_page span {
  color: rgb(0, 1, 1);
}

.home_page button{
  background-color: rgb(2, 1, 39);
  color: #efecec;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 2rem;
  transition: ease-in 0.3s;
  border: none;
}

.home_page button:hover {
  background-color: rgb(53, 54, 68);
}


@media only screen and (max-width: 1200px){
  .home_page{
    font-size: 2.5 rem;
  }
  .home_page button {
    padding: 2rem 1rem;
    font-size: 1.1rem;
  }
}