.nav-link {
    text-decoration: none;
  }
  
  .logout {
    margin-left: 1000px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .logout:hover {
    background-color: gray;
    color: #000;
  }
  
   .dashboard-container {
    font-family: 'Lucida Sans';

    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .dashboard-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  
  .btn-block {
    margin-top: 20px;
  }
  
  .buttonB{
    background-color: #415aff;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
  .buttonB:hover{
    background-color: #071d08;
    color: white;
  }

  .buttonA{
    background-color: #e40ce8b1;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
  .buttonA:hover{
    background-color: #071d08;
    color: white;
  }

  .buttonS{
    background-color: #2fa48f;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
  .buttonS:hover{
    background-color: #071d08;
    color: white;
  }
  
  .buttonT{
    background-color: #e53a3a;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
  .buttonT:hover{
    background-color: #071d08;
    color: white;
  }
  .buttonL{
    background-color: #e9e22d;
    font-size: 24px;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 20px;
  }
  .buttonL:hover{
    background-color: #071d08;
    color: white;
  }



  
  